@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
  
  <body
    id="mainBox"
    data-spy="scroll"
    data-target="#bs-example-navbar-collapse-1"
    data-offset="150"
  >
    <div id="site-main">
      <!-- Header Section Begins -->
       


      <div class="main">
        <!-- Banner Section Begins -->
        <section id="main-slider">
          <div class="banner_slider">
            <div class="slick-1">
              <div class="banner_text">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animated wow fadeInUp"
                      data-wow-delay="0.5s"
                    >
                      <!-- <div class="line_through">
                        <h6>Sharp design for your web project</h6>
                      </div> -->
                      <h1>Быстрая <span>и</span> надежная <br />доставка</h1>
                      <p>Мы компания по доставке грузов разных габаритов</p>
                      <div class="banner_btns jumplinks">
                        <a href="#cars"> Наши машины </a>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slick-2">
              <div class="banner_text">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animated wow fadeIn"
                      data-wow-delay="0.5s"
                    >
                      <!-- <div class="line_through">
                        <h6>Sharp design for your web project</h6>
                      </div> -->
                      <h1>Мощные <span> и</span> габаритные <br />машины</h1>
                      <p>Довезут ваш груз в целости и сохранности</p>
                      <div class="banner_btns jumplinks">
                        <a href="#cars"> Наши машины </a>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Banner Section Ends -->

        <!-- Feature Section Begins -->
        <section
          id="feature"
          class="pad-top-120 pad-bottom-120 bg-white choose"
        >
          <div class="container">
            <div class="row">
              <header
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <h2 class="secTitle">Почему мы</h2>
                <h6 class="secCaption pad-bottom-120">
                  Prepare for the future project expenses and get everything
                  needed.
                </h6>
              </header>
              <article
                class="col-lg-4 col-md-4 col-sm-6 col-xs-12 chooseus wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="chooseBox">
                  <span class="icon-shield fIcons"></span>
                  <h6>Надежность и безопасность</h6>
                  <p>
                    Мы обеспечиваем высокий уровень надежности и безопасности
                    для всех грузов и пассажиров, гарантируя сохранность их
                    товаров и комфортные поездки.
                  </p>
                </div>
              </article>
              <article
                class="col-lg-4 col-md-4 col-sm-6 col-xs-12 chooseus wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="chooseBox">
                  <span class="icon-tools fIcons"></span>
                  <h6>Гибкие и индивидуальные решения</h6>
                  <p>
                    Мы разрабатываем гибкие логистические решения, которые точно
                    соответствуют потребностям каждого клиента, обеспечивая
                    оптимальное удовлетворение их требований.
                  </p>
                </div>
              </article>
              <article
                class="col-lg-4 col-md-4 col-sm-6 col-xs-12 chooseus wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="chooseBox">
                  <span class="icon-pencil fIcons"></span>
                  <h6>Широкий спектр услуг</h6>
                  <p>
                    Наша компания предоставляет полный спектр услуг, включая
                    грузоперевозки, доставку, складские услуги, а также
                    пассажирские перевозки, обеспечивая всестороннюю поддержку в
                    области транспорта.
                  </p>
                </div>
              </article>
              <article
                class="col-lg-4 col-md-4 col-sm-6 col-xs-12 chooseus wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="chooseBox">
                  <span class="icon-circle-compass fIcons"></span>
                  <h6>Высокотехнологичное оборудование</h6>
                  <p>
                    Мы используем самые передовые технологии и современное
                    оборудование, чтобы обеспечить эффективность и точность в
                    каждой операции, сокращая время доставки и повышая качество
                    и надежность обслуживания.
                  </p>
                </div>
              </article>
              <article
                class="col-lg-4 col-md-4 col-sm-6 col-xs-12 chooseus wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="chooseBox">
                  <span class="icon-tools-2 fIcons"></span>
                  <h6>Профессиональный персонал</h6>
                  <p>
                    Наша команда состоит из опытных и профессиональных
                    сотрудников, готовых предоставить высококачественное
                    обслуживание, оперативно реагировать на потребности клиентов
                    и решать любые возникающие проблемы.
                  </p>
                </div>
              </article>
              <article
                class="col-lg-4 col-md-4 col-sm-6 col-xs-12 chooseus wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="chooseBox">
                  <span class="icon-gift fIcons"></span>
                  <h6>Клиентоориентированный подход</h6>
                  <p>
                    Мы ценим каждого клиента и стремимся к долгосрочным
                    отношениям, поэтому наш приоритет - это удовлетворение
                    потребностей клиентов, предоставление им высокого уровня
                    сервиса и поддержка на всех этапах сотрудничества.
                  </p>
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- Feature Section Ends -->

        <!-- Achievement Section Begins -->
        <section
          id="loved"
          class="pad-top-120 pad-bottom-120 bg-white loved parallax"
        >
          <div class="container">
            <div class="row">
              <div
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <span class="icon-heart fIcons"></span>
                <h4>Успешных доставок <span>3,00,000 +</span></h4>
                <h5>
                  Счастливых <span>и</span> радосных клиентов с
                  <span>2016</span> до NOW!
                </h5>
              </div>
            </div>
          </div>
        </section>

        <!-- Satchel Section Begins -->
        <section id="cars" class="pad-top-120 pad-bottom-120 bg-white satchel">
          <div class="container">
            <div class="row">
              <div
                class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <h2 class="secTitle">Наши машины</h2>
              </div>
              <div
                class="col-lg-8 col-md-8 col-sm-8 col-xs-12 wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <ul class="portfolio-filter nav nav-tabs nav-tabs-light">
                  <li class="nav active">
                    <a href="javascript:void(0);" data-filter=".small"
                      >Малый класс</a
                    >
                  </li>
                  <li class="nav">
                    <a href="javascript:void(0);" data-filter=".medium"
                      >Средний класс</a
                    >
                  </li>
                  <li class="nav">
                    <a href="javascript:void(0);" data-filter=".big"
                      >Полноразмерные фуры</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grid-gallery wow animated fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="tab-content">
                  <div class="grid">
                    <div class="row">
                      <div
                        class="element-item small col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                                                <a class="grouped_portfolio" href="kyrs/images/VWCaddy.png">
                                                    <img src="kyrs/images/VWCaddy.png"
                              alt="Volkswagen Caddy"
                            />
                          </a>
                        </figure>
                      </div>
                      <div
                        class="element-item small col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                          <a
                            class="grouped_portfolio"
                                                   href="kyrs/images/MercCitan.png"><img src="kyrs/images/MercCitan.png"
                              alt="Mercedes-Benz Citan"
                            />
                          </a>
                        </figure>
                      </div>
                      <div
                        class="element-item small col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                          <a
                            class="grouped_portfolio"
                                                   href="kyrs/images/FordTransitC.png"><img src="kyrs/images/FordTransitC.png"
                              alt="Ford Transit Connect"
                            />
                          </a>
                        </figure>
                      </div>
                      <div
                        class="element-item medium col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                                                <a class="grouped_portfolio" href="kyrs/images/Iveco.png">
                                                    <img src="kyrs/images/Iveco.png" alt="Iveco Eurocargo" /></a>
                        </figure>
                      </div>
                      <div
                        class="element-item medium col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                          <a
                            class="grouped_portfolio"
                                                   href="kyrs/images/Mitsubishi.png"><img src="kyrs/images/Mitsubishi.png"
                              alt="Mitsubishi Fuso Canter"
                          /></a>
                        </figure>
                      </div>
                      <div
                        class="element-item medium col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                                                <a class="grouped_portfolio" href="kyrs/images/Isuzu.png">
                                                    <img src="kyrs/images/Isuzu.png" alt="Isuzu NQR" /></a>
                        </figure>
                      </div>
                      <div
                        class="element-item big col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                          <a
                            class="grouped_portfolio"
                                                   href="kyrs/images/MercedesActros.png"><img src="kyrs/images/MercedesActros.png"
                              alt="portfolio-3"
                          /></a>
                        </figure>
                      </div>
                      <div
                        class="element-item big col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                                                <a class="grouped_portfolio" href="kyrs/images/Volvo.png">
                                                    <img src="kyrs/images/Volvo.png" alt="portfolio-3" /></a>
                        </figure>
                      </div>
                      <div
                        class="element-item big col-lg-4 col-md-4 col-sm-4 col-xs-6"
                      >
                        <figure>
                                                <a class="grouped_portfolio" href="kyrs/images/ScaniaR.png">
                                                    <img src="kyrs/images/ScaniaR.png" alt="portfolio-3" /></a>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Satchel Section Ends -->

        
      </div>

      <a href="javascript:void(0);" class="back-to-top"
        ><i class="fa fa-long-arrow-up" aria-hidden="true"></i
      ></a>
    </div>

    
  </body>
</html>
